<div class="link-<%= link.id %>">

  <td class="link-name"> <p><%= link.title%></p></td>
  <td><p><a href="<%= link.url %>"><%= link.url %></a></p></td>
  <td><p><%= link.read %></p></td>
  <td><%= button_to "Mark as Read"%></td>
  <td><%= button_to "Edit", edit_link_path(link), method: :get %></td>

</div>
