<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%- unless current_user == nil -%>
          <li><%= link_to "Sign out", logout_path, method: :delete %> </li>
        <%- else -%>
          <li><%= link_to "Sign In", login_path, method: :get %> </li>
          <!-- <li><%#= link_to "Register", new_user_path %></li> -->
        <%- end -%>
      </ul>
    </nav>

    <% flash.each do |type, message| %>
      <div class="alert">
        <%= sanitize(message) %>
      </div>
    <% end %>
  <%= yield %>
</div>

</body>
</html>
